@use "../fonts.scss";
@use "../variables.scss";

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  .form-contact__wrapper {
    padding: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 800px;
    @media (max-width: 466px) {
        padding: 56px 40px;
      }
    @media (max-width: 380px) {
        padding: 56px 30px;
      }
  }

  .form-contact__title {
    align-self: flex-start;
    position: relative;
    max-width: 190px;
    min-height: 30px;
    font-family: "Gilroy-Regular";
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: variables.$txth1;
  }
  fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }
  legend {
    padding-bottom: 40px;
    width: 120px;
    height: 30px;
    font-family: "Gilroy-Regular";
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.8;
  }
  .form-contact__FN-input,
  .form-contact__E-input,
  .form-contact__M-input {
    width: 428px;
    max-width: 428px;
    opacity: 0.4;
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: "Gilroy-Regular";
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    text-indent: 40px;
    &:focus {
      background-color: variables.$btHovL;
      opacity: 0.8;
    }
    @media (max-width: 580px) {
      width: 328px;
      max-width: 328px;
    }
    @media (max-width: 466px) {
        width: 290px;
        max-width: 290px;
      }
    @media (max-width: 380px) {
        width: 250px;
        max-width: 250px;
      }
  }
  .form-contact__FN-input,
  .form-contact__E-input {
    height: 72px;
  }
  .form-contact__M-input {
    height: 144px;
    padding-top: 20px;
    padding-right: 20px;
    resize: none;
  }
  .form-contact__submit {
    margin-top: 20px;
    max-width: 428px;
    min-height: 72px;
    left: 670px;
    top: 1108px;
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    border: none;
    cursor: pointer;

    font-family: "Gilroy-Regular";
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
  }

  .form-contact__error {
    color: #900;
    font-family: "Gilroy-Regular";
    font-size: 16px;
    line-height: 26px;
  }

  input.invalid {
    border-color: #900;
    background-color: #fdd;
  }
}
